* {
    margin: 0;
    list-style-type: none;
}


/*Header*/

header {
    padding: 40px 0 40px 0;
    display: flex;
    gap: 200px;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    justify-content: left;
}

nav ul {
    display: flex;
    padding: 30px 0 30px 0;
    gap: 30px;
    flex-direction: row;
}


/*Form Area*/

.title-1 {
    text-align: center;
    padding-top: 20px;
}

.form-1 {
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: center;
}

.form-layout {
    display: flex;
    justify-content: center;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 200px;
    padding: 40px 0 40px 0;
}

.footer-menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}