* {
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tajawal', sans-serif;
}

p,
li {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}


/*Header*/

header {
    padding: 40px 0 40px 0;
    display: flex;
    gap: 200px;
    justify-content: space-evenly;
    background-color: #393E46;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: left;
}

nav ul {
    display: flex;
    padding: 30px 0 30px 0;
    gap: 30px;
    flex-direction: row;
}

nav li {
    text-decoration: none;
    color: #fff;
}

nav li:hover {
    color: #40A8C4;
}


/*mobile header*/

@media(max-width: 600px) {
    header {
        gap: 75px;
    }
}

.title-1 {
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: #f2f2f2;
    color: #8FC1D4;
}


/*Form Area*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Noto Sans', sans-serif;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
}

input[type=submit] {
    background-color: #78c3e0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #8FC1D4;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 80px 20px 80px
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 200px;
    padding: 40px 0 40px 0;
    background-color: #393E46;
    color: #fff;
    flex-wrap: wrap;
}

.footer-menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 0;
}

.footer-menu li {
    color: #fff;
    text-decoration: none;
}

.footer-menu li:hover {
    color: #40A8C4;
}


/*mobile*/

@media(max-width: 600px) {
    footer {
        gap: 50px;
    }
}